{%  load staticfiles %}
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8"/>
<head>
<link rel="stylesheet" href="{% static '/css/basic.css' %}">
<link rel="stylesheet" href="{% static '/accounts/css/profile.css' %}">
<link rel="stylesheet" href="{% static '/accounts/css/userc.css' %}">
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

</head>
<body id=body>
<div id="banner">
	<img id="bannerimg" src="{% static 'images/banner2.png' %}" alt ="banner" >
</div>
	<ul>
	<li><a href="/accounts/profile/">Início</a></li>
    <li><a>Agenda</a></li>
    <li><a href="/gas_control">Controle De Gás</a></li>
    <li><a href="/basic">Protocolos Fitoquímica</a></li>
    <li><a href="/accounts/userc">Cadastro de Usuário</a></li>
	<li><a href="/accounts/login/">Logar</a></li>
    </ul>
{%  block maindiv %}
    {% block forma %}
        {% block form %}
        {% endblock form %}
    {% endblock %}
    {% block chart %}
    {% endblock %}
{%  endblock %}
<button style="position: fixed; bottom: 0; right: 0;" onclick="location.href='/accounts/logout/'">Sair</button>
</body>

{% block script %}
{% endblock %}

</html>
