{% extends 'accounts/base.html' %}
{% load static %}

{%  block maindiv %}
    <div id="maindiv">
        <div id="userformdiv">
            <h1> Cadastro de Aluno</h1>

            {% block forma %}
            <form method="POST" id="forma">
            {% csrf_token %}
                {{form}}
                <button type="button" onclick = "document.getElementById('forma').submit();" style="width: 45%; margin-right: 1%">Cadastrar! </button>
            </form>
            {% endblock %}

        </div>

    </div>
{%  endblock %}


{% block script %}
{% endblock %}