{% extends 'accounts/base.html' %}
{% load static %}

{%  block maindiv %}
    <div id="maindiv">
        <div id="userformdiv">
            <h1> Cadastro de Aluno</h1>

            {% block forma %}
            <form method="POST" id="forma" enctype="multipart/form-data">
            {% csrf_token %}
                {{form.as_p}}
                {{form2.as_p }}
                <button id="create" type="button" onclick = "document.getElementById('forma').submit();">Cadastrar! </button>
            </form>
            {% endblock %}

        </div>

    </div>
{%  endblock %}


{% block script %}
{% endblock %}