{%  load staticfiles %}
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8"/>
<head>
<link rel="stylesheet" href="{% static 'css/basic.css' %}">
<link rel="stylesheet" href="{% static 'css/userc.css' %}">

</head>
<body id=body>
<div id="banner">
	<img id="bannerimg" src="{% static 'images/banner2.png' %}" alt ="banner" >
</div>
	<ul>
	<li><a href="/">Início</a></li>
    <li><a>Agenda</a></li>
    <li><a href="/gas_control">Controle De Gás</a></li>
    <li><a href="/basic">Pesquisadores</a></li>
    <li><a href="/userc">Cadastro de Usuário</a></li>
	<li><a href="/basic">Contato</a></li>
    </ul>
{%  block maindiv %}
    {% block forma %}
        {% block form %}
        {% endblock form %}
    {% endblock %}
    {% block chart %}
    {% endblock %}
{%  endblock %}

</body>

{% block script %}
{% endblock %}

</html>
