{% extends 'gas_control/base.html' %}
{% load static %}

{% block maindiv %}
    <div class="row">
        <div url-endpoint ='{% url "chart"  %}'>
            <h1> Hello World</h1>
            <img src="data:image/png;base64, {{ graphs }}"/>
        </div>

    </div>
{% endblock maindiv%}

{% block script %}
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
{% endblock script %}