{% extends 'gas_control/base.html' %}
{% load static %}


{% block maindiv %}
<div id="maindiv">
    <div id="controldiv">
        {% block forma %}
            <div id="form" >
                <a href="{% url 'gases' %}" ></a>
                <form method="POST" id="forma">
                    {% csrf_token %}
                      <table style="width:100%; text-align: left;"><br>Atualização de Volumes
                          <tr>
                              <th class="formth">{{ form.Ar_Sintético.label_tag}}</th>
                              <td style="width:100%">
                                  {{ form.Ar_Sintético.errors}}
                                  {{ form.Ar_Sintético }}
                              </td>
                          </tr>
                         <tr>
                              <th>{{ form.Hidrogênio.label_tag }}</th>
                              <td>
                                  {{ form.Hidrogênio.errors }}
                                  {{ form.Hidrogênio }}
                              </td>
                          </tr>
                         <tr>
                              <th>{{ form.Hélio.label_tag }}</th>
                              <td>
                                  {{ form.Hélio.errors }}
                                  {{ form.Hélio }}
                              </td>
                          </tr>
                         <tr>
                              <th>{{ form.Nome_do_Verificador.label_tag }}</th>
                              <td>
                                  {{ form.Nome_do_Verificador.errors }}
                                  {{ form.Nome_do_Verificador }}
                              </td>
                          </tr>
                         <tr>
                              <th>{{ form.Data_de_Verificacao.label_tag }}</th>
                              <td>
                                  {{ form.Data_de_Verificacao.errors }}
                                  {{ form.Data_de_Verificacao }}
                              </td>
                          </tr>
                      </table>
                    <button id ='update_form' type="button" style="width:80%; cursor: pointer " onclick="document.getElementById('forma').submit();">Atualizar!</button>
                </form>
        {% endblock %}
        </div>
        <div id=canisterdiv>
            <div id=candiv1 class="candiv">
                 <div class="clock">
                        <img src="{%  static 'images/valveg.jpg'%}" alt=valve">
                 </div>
                 <div class = "canister3" id=div01>
                    <button class="popup" onclick="gas_info(0)" type="button">Ar Sintético</button>
                     <div class = "divte">
                         {% for gas in all_gases %}
                                Volume Atual: <br>{{ gas.ars }} kgf<br>
                                <br>Porcentagem: {{ gas.ars_p }}%<br>
                                <br>Último Reabastecimento: <br> {{ gas.ver_date }}
                         {% endfor %}
                     </div>
                 </div>
            </div>
            <div id=candiv2 class="candiv">
                 <div class="clock">
                        <img src="{%  static 'images/valveg.jpg'%}" alt=valve">
                 </div>
                 <div class = "canister2" id=div03>
                    <button class="popup" onclick="gas_info(1)" type="button">Hidrogênio</button>
                     <div class = "divte">
                         {% for gas in all_gases %}
                                Volume Atual: <br>{{ gas.h2 }} kgf<br>
                                <br>Porcentagem: {{ gas.h2_p }}%<br>
                                <br>Último Reabastecimento: <br> {{ gas.ver_date }}
                         {% endfor %}
                     </div>
                 </div>
            </div>
            <div id=candiv1 class="candiv">
                    <div class="clock">
                        <img src="{%  static 'images/valveg.jpg'%}" alt=valve">
                    </div>
                   <div class = "canister" id=div05>
                    <button class="popup" onclick="gas_info(2)" type="button">Hélio </button>
                     <div class = "divte">
                         {% for gas in all_gases %}
                                Volume Atual: <br>{{ gas.he }} kpa<br>
                                <br>Porcentagem: {{ gas.he_p }}%<br>
                                <br>Último Reabastecimento: <br> {{ gas.ver_date }}
                         {% endfor %}
                     </div>
                   </div>
            </div>
        </div>
    </div>
    <div id=graphs>
        <div id=graphs2>Ultima Verificação: 01/10/2018 - Guilherme Niederauer
        </div>
            {% block chart %}
                <div style="margin-top:8%">
                    <img id='heplot' src="{%  static 'images/heplot.png' %}" style="float: left; width: 48%; height: 90%; margin-top: -10%">
                    <img id='2plot' src="{%  static 'images/doubplot.png' %}" style="float: right; width: 48%; height: 90%; margin-top: -10%">

                </div>
            {% endblock chart %}
    </div>
</div>

{% endblock %}


{% block script %}

<script>
update_img();
{% for gas in all_gases %}
    var ars = {{gas.ars_p}};
    var h2 = {{gas.h2_p}};
    var he = {{gas.he_p}};
    can_volume(ars, 'div01','#70040D' );
    can_volume(h2, 'div03', '#0000FF');
    can_volume(he, 'div05', '#008000');
{% endfor %}

function update_img(){
    document.getElementById('heplot').src = "{%  static 'images/heplot.png' %}";
    document.getElementById('2plot').src = "{%  static 'images/doubplot.png' %}";
    console.log("vai")

}
function gas_info(index){
    var gases = '{{ json_gases|escapejs }}';
    console.log(gases);
    var divs = document.getElementsByClassName("divte")[index];
    console.log(divs.display);
    if (divs.display = "hidden"){
     divs.style.visibility = 'visible';
    }
}
function volume(){
var hemax_vol = 150;
var ars_vol = 18000;
var h_vol = 16000;
var vol_he = document.getElementById("he").value;
var vol_ars = document.getElementById("ars").value;
var vol_h = document.getElementById("h2").value;
var max_volumes = [hemax_vol, ars_vol, h_vol];
var current_vol = [vol_he, vol_ars, vol_h];
percentage(max_volumes, current_vol);
}

function can_volume(porc, id, color){
        console.log("voce");
        var vol = 100 - (porc+20);
        console.log(porc,vol);
        document.getElementById(id).style.background = 'linear-gradient(to bottom, #FFFFFF '+vol+'%, '+color+' 100%)';
        console.log(document.getElementById(id).style.background)
}
function popups(gase) {
	var gas = ["ars", "h2", "he"];
	var div = ["Popup","Popup2","Popup3"];
	var inx = gas.indexOf(gase);
	var popup = document.getElementById(div[inx]);
	popup.classList.toggle("show");
}

</script>

{% endblock %}