#maindiva{
    background-color: white;
    height:100%;
    width: 100%;
}
#maintop{
    background-color: blue;
    height:50%;
    width: 100%;
    clear: both;
    display: inline-block;
    float: left;
}
#mainbottom{
    background-color: blue;
    height:47%;
    width: 100%;
    clear: both;
    display: inline-block;
    float: left;

}
.square{
    width: 33%;
    background: #70040D;
    height: 100%;
    float:left;
    display: inline-block;
    overflow: hidden;
}
#avatar{
    background: #DAFFCA;
    height: 50%;
    width: 40%;
    margin-left: 28%;
    margin-top: 2%;
    margin-bottom: 2%;
    overflow: hidden;
}
#info{
    background-color: white;
    height: 44%;
    width: 100%;
}
table, tr{
    width: 100%;
    font-size: 120%;

}

td{
    text-align: center;
    width: 30%;
}
.avisos{
    background: white;
    #color: #2FAB02;
    color: black;
    width: 100%;
    height: 100%;
    padding-top: 0;
    font-size: 80%;
    clear: both;
    display: inline-block;
    /*font-family: 'Karla', sans-serif;*/
    font-family: 'Fjalla One', sans-serif;

}
#calendar{
    width: 80%;
    height: 67% ;
    background: white;
    display: inline-block;
    float: left;
    margin-left: 10%;
}

#calendar-container{
    padding: 10px;
    width: 96%;
    height: 96%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 100%;
    font-family: "Arial", sans-serif ;
    background: white;
    /*background-image: linear-gradient(#fff, #d3d3d3);*/
    display: inline-block;
}

table#caltab td{
    font-size: 70%;
    width:10%;
}
#calendario{
    background: white;
    color: black;
}

#calendar-container>td{
    width: 100%;
}

#calendar-month-year{
    font-size: 120%;
    padding: 5%;
}

#calendar-dates>table>tr>td {
    padding: 5px;
}
#calendar-dates>table>tr>td:hover {

    background: red;
    cursor: pointer;

}
.tooltip .tooltiptext {
    width: 100%;
    background-color: white;
    text-align: right;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 80%;
    float: right;
    color: white;
    margin-right: 10%   ;
}

.tooltip:hover .tooltiptext {
    color: black;
}

.projects{
    height: 20%;
    width: 80%;
    border: 2px solid red;
    margin-left: 10%;

}
.add{
    cursor: pointer;
    height: 10%;
    width: 10%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 120%;
    border: 1px outset black;

}
#avisos1{
    background: white;
    color: black;
    width: 100%;
    height: 100%;
    padding-top: 0;
    font-size: 140%;
    clear: both;
    display: inline-block;
    /*font-family: 'Karla', sans-serif;*/
    font-family: 'Fjalla One', sans-serif;

}
/* The popup form - hidden by default */
.form-popup {
    background-color: white;
    border: 2px solid black;
    width: 50%;
    height: 60%;
  display: none;
  position: fixed;
    margin-left:25%;
    margin-top:-40%;
    color: black;
    padding: 10px;
    box-shadow: 10px 10px 5px grey;

}

/* Add styles to the form container */
.form-container {
    visibility: hidden;
    position: fixed;
    border: 2px solid black;
    background-color: white;
    margin-left: 32%;
    margin-top: 5%;
    padding-right: 2%;
    font-size: 80%;
    text-align: left;
    padding-left: 4%;
    box-shadow: 15px 15px 10px grey;

}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width:100%;
  padding: 15px;
  background: #grey;
    color: black;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 5px;
  border: none;
  cursor: pointer;
  width: 100%;
    margin-top: 2%;
  margin-bottom:10%;
  opacity: 0.8;

}

/* Add a red background color to the cancel button */
.form-container .cancel {
  color: red;
    background: white;
  border: none;
  cursor: pointer;
  width: 10%;
    height: 100%;
    margin-left: 98%;
    font-size: 250%;
    margin-top: 1%;
  opacity: 0.8;
    text-align: center;

}

.addin{
      background-color: #4CAF50;
  color: white;
  padding: 16px 5px;
  border: none;
  cursor: pointer;
  width: 100%;
    margin-top: 2%;
  margin-bottom:10%;
  opacity: 0.8;
}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.projetos{
   border: 2px solid black;
    width:65%;
    height: 20%;
    font-size: 80%;
    text-align: center;
    margin-bottom: 1%;
    padding-top: 5%;
    padding-bottom: 15%;
    color: black;
    background-color: white;
    box-shadow: 10px 10px 5px grey;

}
.projetos:hover{
    cursor: pointer;
    background-color: green;
}
.projetos:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.notes:hover .del{
    visibility: visible;
}
#table{
    background: white;
    width: 100%;
    height: 100%;
}
.tablediv{
    font-size: 150%;
    margin-top: 2%;
    width: 33%;
    height: 100%;
    background: white;
    display: block;
    float: left;
    border-right: 2px solid black;
}

.del{
    cursor: pointer;
    margin-right: 6%;
    background: red;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
    visibility: hidden;
}
.doct {
    background: black;
    border: 2px solid red;
    color: white;
    visibility: hidden;
    height: 30%;
    width: 14%;
    position: fixed;
}